.navbar {
    background-color: #343a40;
}

.navbar .navbar-brand {
    color: #fff;
}

/* style the navigation links */
.navbar .navbar-link {
    color: #fff;
    text-decoration: none !important;
    margin-right: 20px;
}

/* Add media query for small screens */
@media (max-width: 576px) {
    .navbar .navbar-link {
        margin-right: 0;
    }
}
